@import "../../global.scss";

.intro {
  background-color: gray;
  display: flex;
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    video{
      width: 100%;
      @include mobile{
        width: 150%;
        padding-top: 250px;
        transform:translateX(-15%);
      }
    }
  }

  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: 1;
  }

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    padding-top: 25px;
    z-index: 2;

    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: orange;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;

      @include mobile{
        align-items: flex-start;
        width: 350px;
        height: 350px;
      }

      img {
        height: 90%;

        @include mobile{
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    color: white;
    z-index: 2;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile{
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile{
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        @include mobile{
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
            50%{
                opacity: 1;
            }
            100%{
                opacity: 0;
            }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
